body{
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    /* background: #393D49; */
    background: url(http://win10zhuti.cn/img/touhou.php) 0 0 no-repeat;
    background-size: 100% 120%;
}
body::-webkit-scrollbar{
    width: 3px;
    height: 3px;
}
body::-webkit-scrollbar-track {
    width: 5px;
    background-color: rgba(0, 0, 0, .1);
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

/*滚动条的设置*/

body::-webkit-scrollbar-thumb {
    background-color: skyblue;
    background-clip: padding-box;
    min-height: 28px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}
.splendid{
    height: 100%;
}
.row{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 0;
    height: 100%;
    width: 100%;
}
#AppBar-left{
    border-radius: 0 !important;
    display: inline-block;
    width: 15%;
    height: 100%;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    vertical-align: top;
    background: transparent;
    color: #333333;
}
#AppBar{
   margin: 0;
   border-radius: 0 !important;
}
.AppBar-title{
    border-bottom: 1px solid #c1c1c1;
}
.layui-nav-item{
    text-align: center;
}
.col-xs-10{
    box-sizing: border-box;
    display: inline-block !important;
    width: 85%;
}
#laotie{
    display: inline-block;
    width: 100%;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    vertical-align: top;
    text-align: center;
    height: 100%;
}
#RigFa{
    display: inline-block;
    width: 85%;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    vertical-align: top;
    text-align: center;
    height: 100% !important;
}
.DataShow{
    height: 600px;
    overflow: auto;
}
.DataShow::-webkit-scrollbar{
    width: 0px;
    height: 0px;
}
.headerType{
    height: 100%;
}
#main{
    display: inline-block;
    margin: auto;
    margin-top: 50px;
}
.AppBar-title{
    height: 60px;
    position: relative;
}
#AppBar li{
    position: absolute;
    right: 10px;
}
.noSon{
    display: none;
}
.okSon{
    display: inline-block;
}
.DataShow{
    width: 100%;
    display: inline-block;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    vertical-align: top;
}
.headerType{
    width: 100%;
}
.TalbeTr{
    border-bottom: 1px solid #c1c1c1;
    box-sizing: border-box;
}
.TalbeTr:nth-child(1)>th{
    font-size: 25px;
    text-align: center;
    color: #333333;
}
td{
    text-align: center;
}
.TalbeTr td{
    font-size: 16px;
    color: #333333;
}
.Nimg{
    margin-left: 10px;
}
.Dtamove{
    cursor: pointer;
    opacity: .8;
}
.Dtamove:hover{
    background: #4e5465;
}
.upDa{
    opacity: .8;
}