@keyframes FBackMove{
    0%{
        top: -500px;
    }
    100%{
        top: 120px;
    }
}
.layer{
    position: absolute;
    z-index: 999;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, .5);
}
.backModal{
    width: 700px;
    height: 400px;
    background: url(../source/image/backData/Am01.jpg) 0 0 no-repeat;
    background-size: 100% 100%;
    position: absolute;
    top: 100px;
    animation: FBackMove .6s linear 1;
}
.closeBtn{
    width: 15px;
    height: 15px;
    position: absolute;
    right: 5px;
    top: 5px;
    background: url(../source/image/backData/ndmz2.png) 0 0 no-repeat;
    background-size: 100% 100%;
    cursor: pointer;
    text-align: center;
    font-size: 20px;
    line-height: 15px;
}
.reInp{
    width: 200px;
    height: 25px;
    outline: none;
    list-style: none;
    border: none;
    padding-left: 10px;
    box-sizing: border-box;
    display: block;
    margin: 0 auto;
    margin-top: 100px;
}
.loInp{
    width: 200px;
    height: 25px;
    outline: none;
    list-style: none;
    border: none;
    padding-left: 10px;
    box-sizing: border-box;
    display: block;
    margin: 0 auto;
    margin-top: 30px;
}
.loBtn{
    margin: 0 auto;
    margin-top: 30px;
    display: block;
    cursor: pointer;
    width: 80px;
    height: 25px;
    line-height: 25px;
    text-align: center;
    outline: none;
    border: none;
    list-style: none;
}