.crossbanenr{
    width: 100%;
    height: 555px;
    background-color: #F06761;
}
.newscont {
    width: 980px;
    margin: 0 auto;
    padding: 60px 0 80px;
}
.newscont ul {
    border: 1px solid #eeeeee;
    border-bottom: none;
}
.newscont ul li{
    border-bottom: 1px solid #eeeeee;
}
.newscontsss-content:nth-child(10){
    border-bottom: 1px solid #eeeeee;
}
.newscontsss-content div{
    padding: 22px 30px;
}
.newsconttt{
    padding: 22px 30px;
}
.zuo{
    float: left;
    /* margin-top: -54px; */
    line-height: 14px;
    font-size: 12px;
    color: #727373;
}
.you{
    float: right;
    /* margin-top: -54px; */
    line-height: 14px;
    font-size: 12px;
    color: #727373;
}
.topblo{
    display: block;
    height: 54px;
    line-height: 54px;
    font-size: 18px;
    text-align: center;
    color: #343434;
}
.botmblo{
    clear: both;
    display: block;
    padding: 0 60px;
    line-height: 24px;
    font-style: normal;
    font-size: 14px;
    color: #737373;
    text-indent: 2em;
}
