/* 初始样式 */
*{
    margin: 0;
    padding: 0;
}
.wrap,body{
    width: 100%;
    height: 100%;
}
ul {
    list-style-type: none;   /* 去掉每个 ul 和 li 前面的圆点 */
}
a{
    /* 去掉默认下划线 */
    text-decoration: none;
}
input{
    /* //鼠标焦点时的蓝框 */
    outline: none;
    /* 去掉原边框 */
    border: none;
}
li{
    list-style: none;
}
/* 正式样式 */
body{
    background: url(../img/1452587517_bg_index.jpg) no-repeat top center;
    background-color: #343240;
}
.wrap .header{
    width: 100%;
    position: fixed;
    z-index: 20;
    background: url(../img/navbar_bg.png) repeat;

}
.header .headerCenter
{
    width: 1000px;
    white-space: nowrap;
    height: 90px;
    margin: 0 auto;
    text-align: justify;
}
.header .detail{
    width: 100%;
    background: rgba(0, 0, 0, .12);
}
.header .detail div{
    width: 1000px;
    white-space: nowrap;
    height: 40px;
    margin: 0 auto;
    text-align: justify;

}
.headerCenter a,
.headerCenter .Option,
.headerCenter .login
{
    display: inline-block;
}

/* //logo大小 */
.headerCenter a img{
    width: 145px;
    height: 90px;
}

.headerCenter nav{
    margin-left: 10px;
    vertical-align: top;
}

.Option ul{
    height: 90px;
    font-size: 0;
}
.Option ul li{
    font-size: 0;
    position: relative;
    display: inline-block;
}
.Option ul li a{
    color: #fff;
    width: 84px;
    display: block;
    height: 90px;
    text-align: center;
    line-height: 90px;
    font-size: 16px;
    text-decoration: none;
}
.Option ul li a:hover{
    color: #ec3833;
}
.headerCenter .login{
    height: 90px;
    display: inline-block;
    vertical-align: top;
    position: relative;
    z-index: 10;
}

.wrap .theme{
    width: 800px;
    position: relative;
    margin: 0 auto;
    margin-bottom: 14px;
}

.wrap .theme .left{
    position: absolute;
    z-index: 4;
    top: 50%;
    margin-top: 5px;
    left: -94px;
    width: 56px;
    height: 90px;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    cursor: pointer;
    background: url(../img/plate.png) no-repeat -160px -150px;
}
.theme .right{
    position: absolute;
    z-index: 4;
    top: 50%;
    margin-top: 5px;
    right: -94px;
    width: 56px;
    height: 90px;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    cursor: pointer;
    background: url(../img/plate.png) no-repeat -220px -150px;
}

.wrap .theme .matter{
    overflow: hidden;
    position: relative;
    padding-top: 110px;
    padding-bottom: 16px;
    width: 100%;
    height: auto;
}

.matter .matterPhoto{
    width: 500%;
    overflow: hidden;
    /* transition-duration: ; */
}

.theme .matter .matterPhoto li{
    width: 800px;
    display: inline-block;
}
.theme .matter .matterPhoto li img{
    width: 800px;
    height: 407px;
}

.theme .matter .dot{
    position: absolute;
    z-index: 5;
    width: 100%;
    bottom: 0;
    font-size: 0;
    text-align: center;
}
.theme .matter .dot li{
    display: inline-block;
    cursor: pointer;
    width: 11px;
    height: 11px;
    border-radius: 100%;
    background: #ffffff;
    margin-right: 6px;
}

.wrap .content{
    width: 1000px;
    margin: 0 auto;
    /* height: 100px; */
}
.content ul{

    text-align: center;
}
.content ul li{
    width: 180px;
    height: 230px;
    position: relative;
    display: inline-block;
    margin-right: 20px;
    background-color: #282730;
    overflow: hidden;
    border-bottom: 5px solid #FAD65C;
}
.content ul li h3{
    text-align: center;
    padding-top: 26px;
    position: relative;
    z-index: 2;
    color: #FFF;
    margin: 0;
    font-size: 18px;
}
.content ul li p{
    font-size: 16px;
    text-align: center;
    position: relative;
    z-index: 2;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #FFF;
}
.content ul li img{
    width: 180px;
    text-align: center;
    position: absolute;
    bottom: -10px;
    left: 0;
    font-size: 18px;
}
.content ul li img:hover{
    bottom: -5px;
    transition: .1s;
}

.foot{
    padding-bottom: 70px;
    background-color: transparent;
    height: 325px;
    text-align: center;
    background: #302f37;
    min-width: 1180px;
}

.foot p{
    color: #9d9d9d;
    font-size: 12px;
    line-height: 1.6em;
    margin-bottom: 5px;
}
.foot ul{
    display: inline-block;
    margin: 60px auto;
}
.foot ul li{
    font-size: 14px;
    text-align: center;
    margin: 0 5px;
    width: 100px;
    height: 100px;
    position: relative;
    display: inline-block;
    color: #7e7e7e;
    text-decoration: none;
}
.foot ul li>span:nth-child(1){
    display: block;
    width: 100px;
    height: 85px;
    background: url(../img/sprites_footer.png) no-repeat;
}

/* // */
.conceal{
    position: fixed;
    z-index: 10;
    bottom: 0;
    height: 75px;
    left: 0;
    right: 0;
    /* animation: footer-bar .5s 1 both; */
    background: rgba(38,36,42,0.9);
    padding: 0;
    margin: 0;
    /* display: none; */
}

.conceal .cont{
    width: 1000px;
    height: 75px;
    margin: 0 auto;
    position: relative;
}
.conceal .cont>img{
    width: 300px;
    position: absolute;
    bottom: 0;
    left: 0;
}
.conceal .cont p{
    font-size: 20px;
    color: #fff;
    padding-left: 330px;
    line-height: 75px;
    padding: 0 0 0 372px;
    position: relative;
    display: inline-block;
}
.conceal .cont a{
    text-decoration: none;
    height: 75px;
    line-height: 75px;
    font-size: 24px;
    padding: 0px 68px 0 40px;
    color: #7A4702;
    background-color: #FAD65C;
    float: right;
}
.conceal .cont span{
    padding-left: 45px;
    height: 75px;
    line-height: 79px;
    font-size: 18px;
    color: #ec3833;
}