ul{
    list-style-type: none;
}
.wrap{
    width: 100%;
    background-color: #f8f8f8;
    min-height: 990px;
}
.banner{
    width: 100%;
    height: 360px;
    background: url(../img/banner.png) no-repeat center center;
    background-size: auto;
    background-size: cover;
    position: relative;
} 
.banner_header{
    width: 100%;
    height: 50px;
    margin-top: 20px;
    display: inline-block;
}
.header_wrap{
    width: 1200px;
    height: 100%;
    line-height: 100%;
    margin: auto;
}
.header_left{
    position: relative;
    width: 28%;
    height: 100%;
    float: left;
    margin-left: 75px;
    display: inline-block;
}
.header_right{
    width: 25%;
    height: 100%;
    position: relative;
    float: right;
    display: inline-block;
    line-height: 40px;
}
.header_left img{
    width: 167px;
    height: 41px;
}
.header_right div{
    display: inline-block;
    font-size: 14px;
    color: #fff;
    margin: auto 20px;
}
.header_right>div:nth-child(3){
    margin: 0;
    width: 1px;
    height: 14px;
    background: #6594f6;
    line-height: 40px   ;
}
.banner_base{
    background-color: #fff;
    opacity: .75;
    height: 32px;
    text-align: center;
    vertical-align: middle;
    line-height: 32px;
    position: absolute;
    width: 100%;
    bottom: 0;
}
.banner_base p{
    margin: 0;
    color: #666e79;
    font-size: 14px;
}
.content_wrap{
    width: 1110px;
    margin: 50px auto;
}
.content_wrap .content_elem{
    width: 330px;
    height: 240px;
    background-color: #fff;
    background-image: url(../img/ico_content_bg.png);
    border: 1px solid #ececec;
    border-radius: 3px;
    margin-right: 30px;
    display: inline-block;
    text-align: center;
}
.content_elem .sprite_content{
    background-image: url(../img/ico_content_logo.png);
    background-repeat: no-repeat;
    display: inline-block;
    width: 134px;
    height: 125px;
}
.title{
    font-size: 18px;
    font-weight: bold;
    color: #333;
}
.desc{
    font-size: 14px;
    color: #a5a5a5;
    margin-top: 6px;
}
.more_wrap{
    display: block;
    margin: 40px auto 0;
    height: auto;
    width: 1050px;
    text-align: center;
}
.more_title{
    font-size: 16px;
    text-align: left;
    color: #333;
}
.more_line{
    width: 100%;
    height: 1px;
    margin: 10px auto 20px;
    background-color: #ebebeb;
}
.more-elem{
    width: 218px;
    height: 155px;
    float: left;
    /* width: 20%; */
    vertical-align: middle;
    text-align: center;
}
.more-elem>div:nth-child(1){
    width: 65px;
    height: 60px;
    margin-top: 16px;
    background-image: url(../img/ico_more.png);
    background-repeat: no-repeat;
    /* background-position: -16px -58px; */
    display: inline-block;
}
.more-elem>p:nth-child(2){
    font-weight: bold;
    font-size: 14px;
    color: #333;
}
.more-elem>p:nth-child(3){
    font-size: 12px;
    color: #a5a5a5;
    margin-top: 5px;
}
.Bottom{
    display: block;
    position: fixed;
    bottom: 0;
    background-color: #ececec;
    margin: 0 auto;
    clear: both;
    width: 100%;
    text-align: center;
    padding: 15px 0;
    overflow: hidden;
}
.Bottom p{
    margin: 0 auto;
    clear: both;
    width: 910px;
    text-align: center;
    line-height: 21px;
    color: #999;
    font-size: 12px;
}