/* 初始样式 */
*{
    margin: 0;
    padding: 0;
}
.wrap{
    width: 100%;
    height: 100%;
}
ul {
    list-style-type: none;   /* 去掉每个 ul 和 li 前面的圆点 */
}
a{
    text-decoration: none;
}
input{
    outline: none;
    border: none;
}


input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

input[type="number"] {
    -moz-appearance: textfield;
}


/* 左边的样式 */
.wrap .logo{
    position: fixed;
    top: 0px;
    left: 0;
    background: url(../source/image/regist/logo.png) no-repeat;
    background-size: 36px 43px;
    z-index: 2;
    height: 43px;
    line-height: 43px;
    padding-left: 46px;
    margin-left: 30px;
    margin-top: 18px;
    font-size: 36px;
    display: block;
    color: #000;
}
.wrap .side{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 525px;
    float: left;
    overflow: hidden;
    background: url(../source/image/regist/01-1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
    display: block;
}


.top{
    min-width: 560px;
    top: 0;
    left: 0;
    text-align: right;
    position: relative;
    z-index: 1;
}

.opinion,.familiar,.surfing{
    float: right;
    margin: 20px 40px 0 0;
    font-size: 16px;
    /* color: rgba(0,0,0,.902); */
    padding: 10px 0 0;
    line-height: 24px;
}
.familiar>ul{
    display: none;
}
.familiar>div:hover + .familiar>ul{
    display: block;
}
.opinion>a{
    color: #aaaaaa;
    opacity: .6;
}
.opinion>a:hover{
    color: #000;
}
.familiar{
    color: #000000;
    text-align: left
}
.familiar>div{
    color: #aaa;
}
.familiar>div:hover{
    color: #000000;
}
.familiar li{
    padding-top: 16px;
    color: #aaa;
}
.familiar ul li:hover{
    color: #000000;
}
.surfing>a{
    position: relative;
    display: block;
    float: right;
}
.surfing>a>div{
    border-radius: 6px;
    background: #f54444;
    background: linear-gradient(126deg,#fc4754,#ff794c) #f54444;
    height: 24px;
    line-height: 24px;
    font-size: 16px;
    margin: 2px 0 0 5px;
    padding: 0 10px 0 24px;
    color: #fff;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}
.surfing>a img{
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 1;
}
.hobby{
    clear: both;
    width: 290px;
    border-radius: 6px;
    border: solid 1px #eee;
    background-color: #fff;
    box-shadow: 0 3px 8px 0 rgba(0,0,0,.12);
    overflow: hidden;
    padding: 0;
    display: none;
}
.surfing:hover>.hobby{
    display: block;
}
.upper{
    border-bottom: solid 1px #f0f0f0;
    height: 49px;
    position: relative;
}
.bottom{
    padding-top: 24px;
    font-size: 16px;
    text-align: center;
    line-height: 1;
}

.bottom .upper{
    border-bottom: solid 1px #f0f0f0;
    height: 49px;
    position: relative;
}

.upper a{
    display: block;
    position: relative;
    text-align: center;
    border-left: solid 1px #eee;
    height: 49px;
    width: 40px;
    background: 0 0;
    float: right;
    z-index: 1;
    transition: none;
}

.upper .search{
    border: none;
    margin-right: 41px;
    background: 0 0;
    height: 49px;
    line-height: 49px;
    font-size: 16px;
    padding: 0 10px;
}
.upper .search input{
    position: absolute;
    left: 10px;
    top: 0;
    background: #fff;
    font-weight: lighter;
    color: #aaa;
    width: 100%;
    background: 0 0;
    position: relative;
    z-index: 2;
    font-size: 16px;
}

.upper>a div{
    transition: none;
    margin: auto;
    background: url(../source/image/regist/search.png) no-repeat transparent;
    height: 16px;
    width: 16px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
} 

.bottom .sign{
    font-size: 16px;
    margin-bottom: 24px;
}
.bottom .sign a{
    margin: 0 5px;
    color: #359eff;
}

/* // */
.wrap .mainsuper{
    margin-left: 480px;
    position: relative;
    height: 100%;
}
.main{
    position: absolute;
    padding-bottom: 10px;
    top: 100px;
    width: 100%;
}
.main .from{
    position: relative;
    margin: 0 auto;
    width: 480px;
}
.main .footer{
    font-size: 14px;
    color: #bbb;
    text-align: center;
    margin: 30px 0;
    font-weight: lighter;
}
.wel .welcome{
    font-size: 50px;
    margin-bottom: 20px;
}
.wel .head{
    float: right;
    font-size: 28px;
    color: #359eff;
    margin-bottom: 64px;
    line-height: 1.2;
}
.wel .header{
    font-size: 32px;
    margin-bottom: 64px;
    line-height: 1.2;
    color: #333;
}

.inputA .input_a,
.inputB .input_A{
    background: 0 0;
    margin: 10px 0 0;
}

.input_b,.input_B{
    height: 25px;
    width: 100%;
    color: #ff5b5b;
    font-size: 14px;
    line-height: 18px;
}

.inputA .input_a input,
.inputB .input_A input{
    border: 1px #aaa solid;
    border-radius: 4px;
    background: 0 0;
    text-align: left;
    font-size: 20px;
    width: 438px;
    height: 50px;
    line-height: 50px;
    padding: 0 20px;
    color: #777;
}

.import .cellphone{
    position: relative;
    background: 0 0;
    margin: 10px 0 0;
}
.cellphoneA,.cellphoneB{
    display: inline-block;
    position: relative;
}
.cellphoneA{
    width: 60%;
    float: right;
}
.cellphoneB{
    width: 154px;
}
.cellphoneA input{
    width: 247px;
    height: 50px;
    border: 1px #aaa solid;
    border-radius: 4px;
    background: 0 0;
    text-align: left;
    font-size: 20px;
    line-height: 50px;
    padding: 0 20px;
}
.cellphoneB input{
    width: 112px;
    height: 50px;
    border: 1px #aaa solid;
    border-radius: 4px;
    background: 0 0;
    text-align: left;
    font-size: 20px;
    line-height: 50px;
    padding: 0 20px;
}
.cellphoneB div{
    position: absolute;
    right: 0;
    top: 0;
    height: 52px;
    line-height: 52px;
    padding-right: 12px;
}
.cellphone ul{
    top: 51px;
    width: 480px;
    height: 200px;
    border: 1px #b2b2b2 solid;
    background-color: #fff;
    box-shadow: 0 3px 8px 0 rgba(0,0,0,.15);
    font-size: 20px;
    overflow-y: scroll;
    position: absolute;
    z-index: 2;
    display: none;
}
.cellphone ul li{
    height: 48px;
    line-height: 48px;
    padding: 0 20px;
}
.cellphone ul li:hover{
    background: #eee;
}
.hint{
    position: relative;
    overflow: hidden;
    height: 25px;
    line-height: 1;
    margin-top: 10px;
    color: #999;
}
.hint div{
    display: inline-block;
}
.hint>div:nth-child(2){
    margin-left: 60px;
    color: #f54444;
    font-size: 16px;
}
.Immediately button{
    border: 1px #3083ff solid;
    border-radius: 4px;
    background-color: #3487ff;
    box-shadow: 0 5px 8px 0 rgba(24,95,255,.1);
    color: #fff;
    text-align: center;
    font-weight: lighter;
    background-image: linear-gradient(0deg,#398bff,#3083ff);
    width: 480px;
    height: 60px;
    margin: 40px 0 8px;
    font-size: 24px;
}
.Immediately button:hover{
    background-color: #3580eb;
    background-image: linear-gradient(0deg,#3580eb,#2c79eb);
}

.import .agreement{
    margin-top: 16px;
    line-height: 18px;
    font-size: 14px;
}
.privacy .checkbox{
    vertical-align: middle;
    color: #aaaaaa;
}
.checkbox img{
    vertical-align: middle;
    padding-right: 10px;
}
.privacy>img:nth-child(2){
    vertical-align: middle;
    padding-left: 10px;
}
 
.agreement .policy{
    visibility: visible;
    opacity: 1;
    padding-left: 18px;
}

.policy a{
    padding-bottom: 3px;
    outline: 0;
    text-decoration: none;
    display: block;
    color: #359eff;
}
