.topbar{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 150px;
    z-index: 900;
}
.topicfixed{
    height: 75px;

}
.topicfixed{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 150px;
}
.toppic{
    max-width: 1170px;
    min-width: 980px;
    width: 80%;
    height: 75px;
    margin: 0 auto;
}
.topside{
    float: left;
    width: 59%;
    /* border: 1px solid red; */
}
.topTool{
    float: right;
    width: 320px;
    font-size: 14px;
    /* border: 1px solid red; */
}
.topTool ul{
    float: right;
    height: 40px;
}
.logolink{
    float: left;
    display: block;
    width: 96px;
    height: 0px;
    overflow: hidden;
    padding-top: 76px;
    font-size: 0;
    background: transparent url(../source/image/Sy/imlogo_b.png)no-repeat left 15px;
    background-size: 100%;
}
.topNav{
    float: left;
    width: 450px;
    padding-left: 18px;
}
.topNav li{
    float: left;
    margin-left: 20px;
}
.topNav li a{
    /* background: #12b7f5; */
    color: #333;
    float: left;
    padding: 0 20px;
    line-height: 75px;
    font-size: 18px;
}
.topNav li a:hover{
    background: #12b7f5;
}
.barzc{
    float: left;
    width: 96px;
    height: 0;
    overflow: hidden;
    padding: 39px 0 0 0;
    margin: 18px 0 0 0;
    background: url(../source/image/Sy/icons.png)0 -244px no-repeat;
    text-align: center;
    line-height: 39px;
    color: #fff;
}
.topTool li{
    float: right;
    margin-left:30px;
    position: relative;
    line-height: 40px;
}

/* 第一层 */

.activebg{
    position: relative;
    width: 100%;
    height: 600px;
    background: #fff;
    background-attachment: fixed;
    background-position: center 0;
    background-repeat: no-repeat;
}
.crossbanenr{
    width: 100%;
}
.crossbanenr ul{
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    max-width: 1920px;
    min-width: 1007px;
    margin: 0 auto;
}
.crossbanenr li{
    position: absolute;
    left: 50%;
    top: 0;
    width: 1920px;
    height: 100%;
    margin: 0 0 0 -960px;
    z-index: 1;
}
.pcqq{
    background: url(../source/image/Sy/pc_bg.jpg)no-repeat center center;
    background-size: cover;
}
.tim-content{
    position: relative;
    width: 100%;
    max-width: 1900px;
    min-width: 960px;
    margin: 0 auto;
    height: 100%;
}
.tim-content_title{
    max-height: 800px;
    width: 578px;
    padding-top: 8%;
    margin: 0 auto;
    padding: 6% 0 2%;
    height: 120px;
}
.title-text{
    max-width: 800px;
    margin-top: 30px;
    float: left;
    width: 328px;
    height: 84px;
    background: url(../source/image/Sy/title-text-1366s.png)no-repeat center top;
}
.title-btn{
    margin-top: 30px;
    max-height: 800px;
    float: right;
    width: 248px;
    height: 86px;
    background: url(../source/image/Sy/title-button-s.png)no-repeat center top;
    position: relative;
}
.title-btn a{
    width: 88%;
    height: 62%;
    display: block;
    position: absolute;
    top: 20%;
    left: 6%;
}
.tim-img{
    width: 100%;
    height: auto;
    margin-top: 20px;
}
.mqq{
    background-size: cover;
    background-image: url(../source/image/Sy/20190627155257_hfDit78vGr.jpeg);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    display: none;
}
.mqq-content{
    width: 100%;
    height: 100%;
    max-width: 1900px;
    min-width: 960px;
    position: relative;
    margin: 0 auto;

}
.top-space{
    display: block;
    padding-top: 6%;
}
.mqq-title{
    margin: 0 auto;
    color: transparent;
    position: relative;
    margin-bottom: 3%;
    width: 50%;
    padding-top: 13.5416%;
    background-image: url(../source/image/Sy/20190627155257_gyEc8vQq8v.png);
    background-size: cover;
    background-repeat: no-repeat;
}
.mqq-title .txt{
    position: absolute;
    left: 0;
    top: 0;
}
.mqq-download .btn-download{
    display: block;
    margin: 0 auto;
    color: transparent;
    position: relative;
    z-index: 10;
    width: 15.05208%;
    padding-top: 4.6354%;
    background-image: url(../source/image/Sy/20190627155257_AKTPvWAw4Y.png);
    background-size: cover;
    background-repeat: no-repeat;
}
.mqq-content .txt{
    position: absolute;
    left: 0;
    top: 0;
}
.mqq-feature{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}
.mqq-feature .feature-img{
    width: 38.9vw;
    height: 26.6666vw;
    margin: 0 auto;
    margin-top: 240px;
    background-image: url(../source/image/Sy/20190627155257_tyVfTf5pkH.png);
    background-size: cover;
    background-repeat: no-repeat;
}
.circle{
    position: relative;
    width: 100%;
    height: 52px;
    margin-top: -52px;
    background: transparent url(../source/image/Sy/linearbot.png) repeat-x left top;
    text-align: center;
    z-index: 5;
}
.circle span{
    margin: 0 5px;
    padding: 2px 5px;
    background: transparent url(https://sqimg.qq.com/qq_product_operations/im/2018/nav.png)no-repeat center center;
    cursor: pointer;
}
.circle span.on{
    background-image:url(https://sqimg.qq.com/qq_product_operations/im/2018/navcur.png)no-repeat center center;
}
/* 第二层 */
.content{
    width: 100%;
}
.content h1{
    width: 100%;
    height: 0;
    overflow: hidden;
    padding-top: 280px;
    background: #fff url(../source/image/Sy/brand.png)no-repeat center top;
}
@media screen and (max-width: 1440px){
    .crossbanenr li.pcqqbg, .crossbanenr li.mbqqbg, .crossbanenr li.padqqbg, .crossbanenr li.watchbg, .fisrtbg, .secondbg, .thirdbg {
        background-size: cover;
    }
}
@media screen and (max-width: 1440px){
    .fisrtbg {
        background-image: url(../source/image/Sy/bg1_1600.jpg);
        background-repeat: no-repeat;
    }
}
.fisrtbg{
    background-image: url(../source/image/Sy/bg1_1600\(2\).jpg);
}
/* 第三层 */

.qfigure{
    width: 100%;
    height: 584px;
    background: #fff;
}
.secondbg{
    background-size:cover;
}
@media screen and (max-width:1440px){
    .secondbg{
        background: url(../source/image/Sy/avds.jpg);
    }
}
.secondbg{
    background-attachment: fixed;
}
.qw960{
    position: relative;
    width: 960px;
    height: 584px;
    margin: 0 auto;
}
.qcall .txtwrap{
    position: absolute;
    right: 7px;
    top: 115px;
    width: 487px;
}
.qcallAnimate{
    position: absolute;
    left: -32px;
    bottom: 0;
    width: 664px;
    height: 763px;
    background: transparent url(../source/image/Sy/pic1.png)no-repeat 0 0;
}
.qcall h2{
    width: 100%;
    height: 0;
    overflow: hidden;
    padding-top: 135px;
    background: transparent url(../source/image/Sy/qcall_txt.png)no-repeat 0 0;
}
.qcall p{
    width: 100%;
    margin-bottom: 12px;
    line-height: 25px;
    text-align: right;
    opacity: 0.6;
}
.txtwrap p{
    font-size: 18px;
}
.qcall .figs{
    background: transparent url(../source/image/Sy/qcall_figs.png)no-repeat 190px 41px;
}
.figs{
    width: 100%;
    padding-top: 44px;
    min-height: 77px;
}
.qcall .figs li{
    float: right;
    border-left: 1px solid #e9e9e9;
}
.figs li{
    padding: 58px 0 0;
    color: #a0a0a0;
    font-size: 14px;
    text-align: center;
}
.qcall .figs li.f01{
    width: 80px;
    text-align: right;
}
.qcall .figs li.f02{
    width: 109px;
}
.qcall .figs li.f03{
    width: 156px;
    border: none;
}


@media screen and (max-width:1440px){
    .thirdbg{
        background: url(../source/image/Sy/bg3_1600.jpg);
    }
}
#thirdbg{
    position: relative;
    width: 100%;
    height: 600px;
    /* background: #fff; */
    background-attachment: fixed;
    background-position: center 0;
    background-repeat: no-repeat;
}

.qfile .txtwrap{
    position: absolute;
    left: 7px;
    top: 115px;
    width: 450px;
}
.qfile h2{
    width: 100%;
    height: 0;
    overflow: hidden;
    padding-top: 140px;
    background: transparent url(../source/image/Sy/txt.png)no-repeat 0 0;
}
.qfile p{
    width: 90%;
    margin-bottom: 12px;
    padding-left: 5px;
    line-height: 25px;
    opacity: 0.6;
}
.qfile .figs{
    background: transparent url(../source/image/Sy/qfile_figs.png)no-repeat 7px 41px;
}
.qfileAnimate{
    position: absolute;
    right: -100px;
    bottom: 104px;
    width: 597px;
    height: 330px;
    background: transparent url(../source/image/Sy/pic2.png)no-repeat 0 0;
}
.qfile .figs li{
    float: left;
    border-left: 1px solid #e9e9e9;
}
.qfile .figs li.f01{
    width: 94px;
    text-align: left;
    text-indent: 12px;
    border:none;
}
.qfile .figs li.f02{
    width: 112px;
}
.qfile .figs li.f03{
    width: 108px;
}
/* 第四层 */
.qblog .txtwrap{
    position: absolute;
    right: 7px;
    top: 120px;
    width: 495px;
}
.qblogAnimate{
    position: absolute;
    left: 88px;
    bottom: 0;
    width: 344px;
    height: 506px;
    background: transparent url(../source/image/Sy/pic3.png)no-repeat -30px 0;
}
.qblog h2{
    width: 100%;
    height: 0;
    overflow: hidden;
    padding-top: 135px;
    background: transparent url(../source/image/Sy/qblog_txt.png)no-repeat 0 0;
}
.qblog p{
    width: 100%;
    margin-bottom: 12px;
    line-height: 25px;
    text-align: right;
    opacity: 0.6;
}
.qblog .figs{
    background: transparent url(../source/image/Sy/qblog_figs.png)no-repeat 228px 41px;
}
.qblog .figs li{
    float: right;
    border-left: 1px solid #e9e9e9;
}
.qblog .figs li.f01{
    width: 80px;
    text-align: right;
}
.qblog .figs li.f02{
    width: 105px;
}
.qblog .figs li.f03{
    width: 106px;
    border: none;
}
.qblogWrap{
    position: relative;
    left: 0;
    top: 217px;
    width: 291px;
    height: 150px;
}
.qblogWrap div{
    width: 50px;
    height: 50px;
    position: absolute;
    top: 0;
}
.qblogWrap .pic1{
    left: -122px;
    opacity: 0;
    background: transparent url(../source/image/Sy/qblog_fig1.png)no-repeat 0 0;
    background-size: 100%;
    transition: .4s;
}
.qblogWrap .pic2{
    left: 70px;
    background: transparent url(../source/image/Sy/qblog_fig2.png)no-repeat 0 0;
    opacity: 0;
    background-size: 100%;
    transition: .5s;
}
.qblogWrap .pic3{
    right: -119px;
    opacity: 0;
    background: transparent url(../source/image/Sy/qblog_fig3.png)no-repeat 0 0;
    background-size: 100%;
    transition: .6s;
}
/* 底部 */
.newfoot{
    width: 100%;
    height: 348px;
    padding-top: 34px;
    background: #2a2a2a;
    font-size: 16px;
}
.qmaps{
    width: 960px;
    height: 205px;
    margin: 0 auto;
    position: relative;
}
.copyright{
    clear: both;
    width: 960px;
    margin: 0 auto;
    padding-top: 16px;
    border-top: 1px solid #666;
    line-height: 17px;
    text-align: center;
    color: #666;
}
.plats{
    float: left;
    width: 510px;
    padding-left: 8px;
}
.plats h3{
    height: 50px;
    color: #666;
    font-size: 14px;
}
.plats a{
    float: left;
    padding-top: 65px;
    background: transparent url(../source/image/Sy/plats1.png)no-repeat 0 0;
    text-align: center;
    font-size: 14px;
}
.plats a.plmb{
    width: 80px;
    margin-right: 35px;
    background-position: 0px 0;
}
.plats a.plpc{
    width: 80px;
    margin-right: 30px;
    background-position: -105px 0;
}
.plats a.plmac{
    width: 84px;
    margin-right: 30px;
    background-position: -210px 0;
}
.plats a.plpad{
    width: 76px;
    background-position: -326px 0;
}
.plats a:hover {
    color: #12b7f5;
}
.plats a.plmb:hover {
    background-position: 0px -93px;
}
.plats a.plpc:hover {
    background-position: -105px -93px;
}
.plats a.plmac:hover {
    background-position: -210px -93px;
}
.plats a.plpad:hover {
    background-position: -326px -93px;
}
.map{
    float: left;
}
.qac{
    width: 185px;
}
.map h3{
    height: 25px;
    color: #666;
    font-size: 14px;
}
.map li{
    line-height: 22px;
}
.map li a{
    font-size: 12px;
}
.qfaq{
    width: 175px;
}
.sub-list{
    position: absolute;
    right: -55px;
    top: 25px;
}
.newfoot a:hover{
    color: #cfcfcf;
}
.copyright p{
    font-size: 14px;
}





