/* 头部 */
.topicfixed .logLink{
    background: url(../source/image/imlogo_b.png)no-repeat left;
}
.logLink{
    float: left;
    display: block;
    width: 106px;
    height: 0px;
    overflow: hidden;
    padding-top: 76px;
    font-size: 0;
    background: transparent url(../source/image/imlogo_b.png)no-repeat  left 15px;
}
.topNav li.current a{
    background: #12b7f5;
}
.topTool a.barzc{
    float: left;
    width: 96px;
    height: 0;
    overflow: hidden;
    padding: 39px 0 0 0;
    margin: 18px 0 0 0;
    background: transparent url(../source/image/icons.png)no-repeat 0 -244px;
    text-align: center;
    line-height: 39px;
    color: #fff;
}
.topTool li a{
    color: #333;
}
.topTool ul{
    padding-top: 6px;
}
/* 第一层 */
.crossbanenr{
    height: 645px;
}
.crossbanenr ul{
    position: relative;
    width: 100%;
    height: 645px;
    overflow: hidden;
    /* max-width: 1920px; */
    min-width: 1007px;
    margin: 0 auto;
}
.crossbanenr li{
    position: absolute;
    top: 0;
    width: 100%;
    height: 645px;
    z-index: 1;
    background: url(../source/image/d_bg.jpg);
}
.dimg{
    position: absolute;
    width: 1920px;
    margin-left: -965px;
    left: 50%;
}
/* 第二层 */
.downWrap{
    width: 980px;
    margin: 0 auto;
    padding-top: 60px;
    background: #fff;
}
.recommonDown{
    width: 979px;
    min-height: 454px;
    margin-bottom: 40px;
    border-top: 1px solid #e7e7e7;
    border-left: 1px solid #e7e7e7;
}
.recommonDown .rcwarp{
    float: left;
    width: 325px;
    border-right: 1px solid #e7e7e7;
    border-bottom: 1px solid #e7e7e7;
}
.rcclick{
    display: block;
    width: 100%;
    height: 175px;
    overflow: hidden;
    text-align: center;
}
.rcwarp h2{
    height: 70px;
    text-align: center;
    line-height: 70px;
}
.rcwarp h2 strong{
    font-size: 22px;
}
.rcwarp h2 em{
    font-size: 14px;
}
em{
    font-style: normal;
    padding: 0;
    margin: 0;
}
.figtxt{
    width: 100%;
    height: 140px;
    overflow: hidden;
    font-size: 14px;
}
.figtxt ul{
    width: 290px;
    margin: 0 auto;
}
.figtxt li{
    width: 100%;
    height: 27px;
    overflow: hidden;
    line-height: 27px;
    color: #666;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.lbtn{
    width: 142px;
    height: 68px;
    margin: 0 auto;
    text-align: center;
    font-size: 14px;
}
.lbtn em{
    display: block;
    height: 20px;
    line-height: 17px;
    color: #848484;
    font-size: 12px;
}
.down_btn_126x30{
    display: block;
    width: 126px;
    height: 30px;
    margin: 0 auto;
    background: transparent url(https://sqimg.qq.com/qq_product_operations/im/2015/down_btn_126x30.png)no-repeat 0 0;
    line-height: 30px;
}
.rcpc .down_btn_126x30 span{
    background: transparent url(https://sqimg.qq.com/qq_product_operations/im/2015/btn_icon_pc.png)no-repeat 0 center;
}
.down_btn_126x30 span{
    padding-left: 24px;
    color: #fff;
    letter-spacing: 5px;
}
.devr span, #devr_1 span{
    cursor: pointer;
}
.rcwarp h2 span.on{
    color: #333;
}
.rcmb span{
    font-weight: normal;
}
#figtxt ul{
    display: block;
}
.flbtn{
    width: 284px;
    margin: 0 auto;
}
.flbtn .lbtn{
    float: left;
}
.lbtn{
    width: 142px;
    height: 68px;
    margin: 0 auto;
    text-align: center;
    font-size: 14px;
}
.lbtn .down_btn_126x30 span{
    background: transparent url(../source/image/btn_icon_ios.png)no-repeat 0 center;
}
.down_btn_126x30 span{
    padding-left: 24px;
    color: #fff;
    letter-spacing: 12px;
}
.drwrap{
    position: relative;
    width: 100%;
    height: 30px;
}
.drwrap .andd {
    position: absolute;
    left: 8px;
    top: 0;
    z-index: 500;
}
#drwrap a{
    color: #fff;
}
.rcmb .andd span {
    background: transparent url(https://sqimg.qq.com/qq_product_operations/im/2015/btn_icon_and.png) no-repeat 0 center;
}
.down_btn_126x30 span{
    padding-left: 24px;
    color: #fff;
    letter-spacing: 12px;
}
.drwrap .dropList{
    position: absolute;
    left: 8px;
    top: 18px;
    width: 126px;
    padding: 18px 0 10px;
    background: transparent url(https://sqimg.qq.com/qq_product_operations/im/2015/dpbg.png)no-repeat left bottom;
    z-index: 100;
}

.dropList a{
    display: block;
    height: 27px;
    line-height: 27px;
    color: #fff;
}
.rcclick {
    display: block;
    width: 100%;
    height: 175px;
    overflow: hidden;
    text-align: center;
}
.recommonDown .rcwarp a{
    color: #333;
    text-decoration: none;
}
/* 、、、、、、 */
.proh2{
    height: 37px;
    line-height: 19px;
    font-size: 18px;
    font-weight: normal;
}
.otherpro{
    width: 979px;
    min-height: 290px;
    border-top: 1px solid #e7e7e7;
    border-left: 1px solid #e7e7e7;
}
.otherpro ul{
    width: 980px;
    margin-right: -1px;
    overflow: auto;
    zoom: 1;
}
.otherpro li{
    float: left;
    width: 489px;
    /* height: 97px; */
    border-right: 1px solid #e7e7e7;
    border-bottom: 1px solid #e7e7e7;
}
.appap img{
    padding-top: 30px;
    padding-left: 35px;
    float: left;
}
.appap h2{
    width: 250px;
    height: 97px;
    float: left;
    margin-left: 30px;
    margin-top: 25px;
}
.appap .spp1{
    font-size: 17px;
    color: #333;
    font-weight: bold;
    font-family: Helvetica, Tahoma, Arial, "Hiragino Sans GB", "Hiragino Sans GB W3", "Microsoft YaHei", STXihei, STHeiti, Heiti, SimSun, sans-serif;
    margin-top: 5px;
}
.appap .spp2{
    font-size: 12px;
    color: #737373;
}
.appap h2 p{
    margin-top: 10px;
    font-size: 14px;
    color: #737373;
    font-weight: normal;
}
.xxzai{
    position: relative;
    float: right;
    width: 78px;
    height: 31px;
    margin: 34px 20px 0 0;
    text-align: center;
    line-height: 32px;
    font-size: 14px;
    color: #fff;
}
.xxzai img{
    width: 100%;
    height: 100%;
}
.xxzai p{
    position: absolute;
    left: 25px;
    z-index: 100;
    font-size: 14px;
    color: #fff;
    text-align: center;
    line-height: 31px;
}
/* 底栏 */
.map{
    width: 120px !important;
}